body{
    box-sizing: border-box;
      font-family: 'serif', sans-serif;
      margin: 0;
  }
  h1{ font-size: 3.0em;}
  h2{ font-size: 2.5em;}
  h3{ font-size: 2em;}
  p{ font-size: 1.25em;}
  ul{ list-style: none;}
  li{ font-size: 1.25em;}
  
  a{
    text-decoration: none;
    color: black;
  }
  .uno{
    display: flex;
    min-height: 80px;
    background: #DDD5F5;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
  }
  .Logo{
    display: flex;
    align-items: center;
    color:#F5AA45
    }
  
  .logodelaempresa{
    height: 60px;
    margin-right: 10px;
  
  }
  .logodelaempresa2{
    height: 60px;
    margin-left: 10px;
  }
  
  nav a{
    font-weight: 600;
    padding-right: 10px;
  }
  nav a:hower {
    color:#7B13FE;
  
  }
  
  @media (max-width: 600px){
    div{
      flex-direction: column;
      }
    nav{
      padding: 10px 0px;
    }
  }
  
  #portada{
    display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 70vh;
        background-image: linear-gradient(
          20deg,
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
      )
      ,url("imagenes/imagen9.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  #portada h1{
      color: rgb(255, 255, 255);
  }
  #portada h3{
    color: rgb(255, 255, 255);
}
  #portada a {
    color: white;
  }
  
  #medidas{
    background-color: #F9ECEC;
  }
  
  #medidas .compu{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    padding: 100px 12px;
  }
  #medidas .michi{
    width: 40%;
    max-width: 300px;
    text-align: initial;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #medidas .img1{
    background-image: url("imagenes/imagen7.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
  #lista {
      background-color: #f3d17b;
      color: #f8f8f8;
      text-align: center;
  }
  
  #lista .primero{
      padding: 130px 12px;
  }
  #lista h2{
      margin-top: 0;
      font-size: 45px;
  }
  #lista p{
      display: none;
  }
  #lista .especialidades1{
      background-position: center center;
      background-size: cover;
      padding: 50px 0px;
      margin: 20px;
      border-radius: 10px;
  }
  .especialidades1{
      background-image: linear-gradient(
          0deg,
          rgba(1,1,1,0.2),
          rgba(0,0,0,0.2)
      )
      ,url("imagenes/imagen11.jpeg");
  
  }
  
  #lista .especialidades2{
      background-position: center center;
      background-size: cover;
      padding: 50px 0px;
      margin: 20px;
      border-radius: 10px;
  }
  .especialidades2{
      background-image: linear-gradient(
          0deg,
          rgba(1,1,1,0.2),
          rgba(0,0,0,0.2)
      )
      ,url("imagenes/imagen6.jpg");
  }
  #lista .especialidades3{
      background-position: center center;
      background-size: cover;
      padding: 50px 0px;
      margin: 20px;
      border-radius: 10px;
  }
  .especialidades3{
    background-image: linear-gradient(
      0deg,
      rgba(1,1,1,0.2),
      rgba(0,0,0,0.2)
      )
          ,url("imagenes/imagen9.jpg");
  }
  #lista.primero{
    display: flex;
    justify-content: center;
  }
  
  #lista p{
    display: block;
    margin-bottom: 30px;
  }
  
  #lista h2{
    font-size: 4em;
  }
  
  #lista h3{
    margin-top: 0;
  }
  #servicio .casa{
      text-align: center;
      padding: 40px 12px;
  
  }
  
  #servicio li{
      margin: 16px 0px;
      font-weight: bold;
      color: white;
  }
  #servicio {
    height: 500px;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;
    background-image: linear-gradient(
      0deg,
      rgba(0.5,0.5,0.5,0.5),
      rgba(0.5,0.5,0.5,0.5)
  )
  ,url("imagenes/gato16.jpg");
  }
  
  #servicio .casa{
    text-align: initial;
    color: white;
  }
  #servicio ul{
    margin-left: 100px;
  }
  
  @media only sreen and (min-width:1200px){
    #llevar{
      background-position-x: calc(100vw - 800px);
    }
  }
  
  #contactos{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #E7E7AF;
      color: black;
      height: 170px;
  }
  
  #contactos h4{
      font-size: 13px;
  }
  #contactos li{
    font-size: 13px;
  }
  
  #final {
    background: #DDD5F5;
   }
  #final p{
      margin: 0;
      padding: 12px;
      color:  #767676;
   }
  #final .primero{
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
   }
  #final .primero{
    justify-content: flex-end;
  }